docker/redis/server/__pycache__/*
docker/redis/server/logs/*.log
docker/redis/server/logs/action/*.log
docker/redis/server/logs/error/*.log
docker/redis/server/logs/status/*.status
docker/redis/server/logs/system/*.log
docker/redis/server/nohup.out
docker/redis/server/redis-monitor-server/__pycache__/*
docker/portainer/
docker/vue_app/node_modules/*
docker/react_app/node_modules/*
/*.bat
/*.sh
*.db
*.rdb
*.aof
*.aof.manifest
*.log
*.status
