version: '3.3'

services:

  ffmt_backend:
    container_name: ${BACKEND_CONTAINER_NAME}
    build:
      context: .
      dockerfile: ${BACKEND_DOCKERFILE}
    image: ffmt_backend
    restart: "always"
    ports:
      - "${BACKEND_HOST_PORT}:80"
      - "${BACKEND_HOST_SSL_PORT}:443"
    environment:
      - APP_NAME=${APP_NAME}
      - PRIMARY_DOCKER_PORT=${PRIMARY_DOCKER_PORT}
      - SECONDARY_DOCKER_PORT=${SECONDARY_DOCKER_PORT}
      - PRIMARY_DOCKER_SSL_PORT=${PRIMARY_DOCKER_SSL_PORT}
      - SECONDARY_DOCKER_SSL_PORT=${SECONDARY_DOCKER_SSL_PORT}
    volumes:
      - ./backend:/var/www/html/
      - ${HOST_SSL_CERTS_DIR}:/etc/apache2/ssl
      - ${HOST_SSL_PRIVATE_KEY_DIR}:/etc/apache2/ssl/private
    networks:
      - ffmt_network
  
  ffmt_ws_worker:
    build:
      context: .
      dockerfile: ${WS_WORKER_DOCKERFILE}
    image: ffmt_ws_worker
    container_name: ${WS_WORKER_CONTAINER_NAME}
    restart: "unless-stopped"
    depends_on:
    #  - ${SCYLLADB_CONTAINER_NAME}
      - ${BACKEND_CONTAINER_NAME}
    environment:
      - BACKEND_HOST=${BACKEND_CONTAINER_NAME}
      - SCYLLADB_HOST=${SCYLLADB_CONTAINER_NAME}
    volumes:
      - ./docker/ws_worker/startup_scripts:/startup_scripts
      - ./docker/ws_worker/server:/server
      - ./docker/ws_worker/sales_importer:/sales_importer
    networks:
      - ffmt_network

  ffmt_ws_worker_2:
    build:
      context: .
      dockerfile: ${WS_WORKER_DOCKERFILE}
    image: ffmt_ws_worker
    container_name: ffmt_ws_worker_2
    restart: "unless-stopped"
    depends_on:
    #  - ${SCYLLADB_CONTAINER_NAME}
      - ${BACKEND_CONTAINER_NAME}
    environment:
      - BACKEND_HOST=${BACKEND_CONTAINER_NAME}
      - SCYLLADB_HOST=${SCYLLADB_CONTAINER_NAME}
    volumes:
      - ./docker/ws_worker/startup_scripts:/startup_scripts
      - ./docker/ws_worker/server:/server
      - ./docker/ws_worker/sales_importer:/sales_importer
    networks:
      - ffmt_network

# DATABASES
  ffmt_scylla_node:
    container_name: ${SCYLLADB_CONTAINER_NAME}
    build: 
      context: .
      dockerfile: ${SCYLLADB_DOCKERFILE}
    image: ffmt_scylla
    restart: "unless-stopped"
    ports:
      - 9042:9042
      - 9142:9142
      - 7000:7000
      - 7001:7001
      - 7199:7199
      - 10000:10000
      - 10001:10001
      - 9180:9180
      - 9100:9100
      - 9160:9160
      - 19042:19042
      - 19142:19142
    volumes:
      - ./docker/scylla/persistent/data:/var/lib/scylla
      - ./docker/scylla/persistent/commitlog:/var/lib/scylla/commitlog
      - ./docker/scylla/persistent/saved_caches:/var/lib/scylla/saved_caches
      - ./docker/scylla/persistent/log:/var/log/scylla
      - ./docker/scylla/etc/scylla/scylla.yaml:/etc/scylla/scylla.yaml
      - ./docker/scylla/usr/local/bin:/usr/local/bin
      - ./docker/scylla/startup_scripts:/startup_scripts
    deploy:
      resources:
        limits:
          memory: 8g

    networks:
      - ffmt_network

  ffmt_elastic:
    container_name: ${ELASTICSEARCH_CONTAINER_NAME}
    image: docker.elastic.co/elasticsearch/elasticsearch:8.6.0
    restart: "unless-stopped"
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms256m -Xmx256m"
    deploy:
      resources:
        limits:
          memory: 1g
    ports:
      - 9200:9200
      - 9300:9300
    networks:
      - ffmt_network
      
networks:
  ffmt_network:
    driver: bridge