@*
    Server-rendered nav. The legacy PHP version built this string with a recursive helper for
    nested submenus; the current navbar config is flat (no submenus), so this Razor partial is
    flat too. If sub-menus come back, fold the recursive helper in and pass an Entry tree.
*@
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="padding-left:20px;padding-right:20px;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" style="margin-right:50px;">FINAL FANTASY XIV MARKET TOOLS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main_nav">
            <ul class="navbar-nav">
                @foreach (var item in NavbarStructure.Items)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@item.Link" title="@item.Description">@item.Name</a>
                    </li>
                }
            </ul>
            <ul class="navbar-nav github-nav">
                <li class="nav-item">
                    <a class="nav-link" href="@NavbarStructure.GithubLink">
                        <img class="github-logo" src="~/img/github_logo_25x25.png" alt="GitHub">
                        <span class="github-text">Project on Github</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
