docker/prometheus/prometheus/*
!docker/prometheus/etc/prometheus/*
docker/loki/*
!docker/loki/loki-config.yml
docker/promtail/*
!docker/promtail/promtail-config.yml
docker/portainer
docker/grafana/data/alerting
docker/grafana/data/csv
docker/grafana/data/file-collections
docker/grafana/data/png
docker/grafana/data/provisioning
!docker/grafana/plugins/*
scylla-monitoring-scylla-monitoring-4.3.4