@page "/"
@*
    Equivalent of backend/application/views/home.php. The PHP version built cards in jQuery from
    a JSON island; we render the same Bootstrap card grid server-side from NavbarStructure.Items.
*@
@{
    ViewData["Title"] = "Home";
}

<div class="row" id="navbar-container">
    @foreach (var item in NavbarStructure.Items)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.Description</p>
                    <a href="@item.Link" class="btn btn-primary">Go to @item.Name</a>
                </div>
            </div>
        </div>
    }
</div>
